In [31]:
# Import Dependencies
import pandas as pd
import numpy as np

In [32]:
#Import zipcode key csv file
zip_code_csv = "../Resources/zip_code_database.csv"

In [33]:
#Create Original DataFrame, replace na with blank stings
zip_code_df = pd.read_csv(zip_code_csv)
zip_code_df = zip_code_df.replace(np.nan, '', regex=True)

In [34]:
#Filter on just Colorado Zip Codes and sort by population, take top 25 most populated zips in CO
co_zip_code = zip_code_df.loc[(zip_code_df["state"] == "CO"),:]
co_zip_code = co_zip_code.sort_values(by = "irs_estimated_population_2015", ascending=False)
co_zip_code = co_zip_code.nlargest(25, "irs_estimated_population_2015", keep='first')
co_zip_code = co_zip_code[["zip","latitude","longitude"]]
co_zip_code = co_zip_code.set_index("zip")
co_zip_code

       latitude  longitude
zip
80013     39.66    -104.77
80015     39.63    -104.78
80219     39.70    -105.04
80134     39.50    -104.76
80634     40.42    -104.74
80011     39.74    -104.78
80016     39.60    -104.71
80504     40.16    -105.03
80229     39.86    -104.96
80022     39.88    -104.80
80525     40.55    -105.06
80020     39.94    -105.06
80012     39.69    -104.81
80239     39.79    -104.84
80233     39.90    -104.95
80127     39.57    -105.14
80538     40.41    -105.07
80126     39.54    -104.96
80123     39.62    -105.07
80918     38.91    -104.78
80631     40.44    -104.67
80010     39.74    -104.86
80526     40.52    -105.14
80221     39.82    -105.01
80501     40.17    -105.11