In [41]:
# Import Dependencies
import pandas as pd
import numpy as np

In [42]:
#Import zipcode key csv file
zip_code_csv = "../Resources/zip_code_database.csv"

In [43]:
#Create Original DataFrame, replace na with blank stings
zip_code_df = pd.read_csv(zip_code_csv)
zip_code_df = zip_code_df.replace(np.nan, '', regex=True)

In [44]:
#Filter on just Colorado Zip Codes and sort by population, take top 25 most populated zips in CO
co_zip_code = zip_code_df.loc[(zip_code_df["Include?"] != ""),:]
co_zip_code = co_zip_code[["zip","latitude","longitude"]]
co_zip_code = co_zip_code.set_index("zip")
co_zip_code.to_csv("../Resources/25 Final Zip Codes.csv")

In [45]:
# gmaps heatmaps for restaurants
import gmaps
import requests
import json
from pprint import pprint
from config import gkey
restaurant_key = gkey
# restaurant_key = 'AIzaSyD642sjE_Th8vphxZtWe2NHsiFalPc2K-U' ##use if you do not have an API set in a config file
# Configure gmaps
gmaps.configure(api_key=restaurant_key)

# Restaurant df creation
restaurant_df = co_zip_code
restaurant_df = restaurant_df.reset_index()

In [46]:
zipcode_dict = {}

# Generate dictionary of json data from each zipcode
for i in range(0,25):
    zipcode = restaurant_df.iloc[i,0]
    lat = restaurant_df.iloc[i,1]
    lng = restaurant_df.iloc[i,2]
    # geocoordinates
    target_coordinates = f"{lat},{lng}"
    target_radius = 5000
    target_type = "restaurant"    

    # set up a parameters dictionary
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": restaurant_key,
    }
    
    # assemble url and make API request
    response = requests.get(base_url, params=params)
    content = json.loads(response.content)

    # create a dictionary of dataframes for each i
    zipcode_dict[i] = {i: pd.DataFrame.from_dict(content['results'])}

In [155]:
# zipcode_dict works as a dictionary of dataframes, select which zipcode by [i]
# where i is the index value from the co_zip_codes
# further, to extract required data, you must use zipcode_dict[i][i]['key']

In [47]:
# Dataframe creation to not affect previous dataframe restaurant_df
restaurant_summary = restaurant_df
avg_price = []
avg_rating = []
# create average price and rating columns and calculate the values
for i in range(0,25):
    avg_price.append(zipcode_dict[i][i]['price_level'].mean())
    avg_rating.append(zipcode_dict[i][i]['rating'].mean())
restaurant_summary['Average Price']=avg_price
restaurant_summary['Average Rating']=avg_rating
restaurant_summary

      zip  latitude  longitude  Average Price  Average Rating
0   80002     39.79    -105.11       1.600000        4.170000
1   80003     39.83    -105.06       1.578947        3.975000
2   80004     39.82    -105.10       1.650000        4.075000
3   80005     39.85    -105.13       1.600000        4.125000
4   80031     39.88    -105.05       1.800000        4.030000
5   80033     39.77    -105.09       1.450000        4.005000
6   80110     39.64    -104.99       1.736842        4.120000
7   80123     39.62    -105.07       1.705882        4.000000
8   80127     39.57    -105.14       1.562500        3.936842
9   80128     39.56    -105.08       1.352941        3.980000
10  80204     39.73    -105.02       2.235294        4.410000
11  80211     39.77    -105.02       2.333333        4.405000
12  80212     39.77    -105.05       2.222222        4.431579
13  80214     39.74    -105.07       1.647059        4.055000
14  80215     39.74    -105.12       1.700000        3.975000
15  80219     39.70    -105.04       1.705882        4.045000
16  80221     39.82    -105.01       1.400000        3.940000
17  80226     39.71    -105.09       1.611111        3.825000
18  80227     39.67    -105.09       1.687500        3.995000
19  80228     39.69    -105.17       1.500000        3.965000
20  80232     39.69    -105.09       1.588235        3.775000
21  80236     39.65    -105.04       1.705882        3.975000
22  80401     39.73    -105.21       1.777778        4.245000
23  80454     39.62    -105.23       2.000000        4.471429
24  80465     39.65    -105.18       1.800000        4.189474

In [48]:
# Heatmaps
locations = restaurant_summary[['latitude','longitude']]
price = restaurant_summary['Average Price'].astype(float)
rating = restaurant_summary['Average Rating'].astype(float)
price_fig = gmaps.figure()
price_heat = gmaps.heatmap_layer(locations,weights=price,
                                dissipating=False,max_intensity=2.5,
                                point_radius=0.05)
price_fig.add_layer(price_heat)
rating_fig = gmaps.figure()
rating_heat = gmaps.heatmap_layer(locations,weights=rating,
                                dissipating=False,max_intensity=7.5,
                                point_radius=0.05)
rating_fig.add_layer(rating_heat)

In [49]:
# price map
price_fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# rating map
rating_fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
sorted_restaurants = restaurant_summary.sort_values(['Average Rating','Average Price'],ascending=[False,True])
sorted_restaurants
# Based solely on restaurant ratings and price, top 3 zip codes are 80454, 80212, and 80204
# These areas are Indian Hills, western Wheat Ridge/Lakeside, and Denver, between Colfax and 6th and Sheridan to Broadway

      zip  latitude  longitude  Average Price  Average Rating
23  80454     39.62    -105.23       2.000000        4.471429
12  80212     39.77    -105.05       2.222222        4.431579
10  80204     39.73    -105.02       2.235294        4.410000
11  80211     39.77    -105.02       2.333333        4.405000
22  80401     39.73    -105.21       1.777778        4.245000
24  80465     39.65    -105.18       1.800000        4.189474
0   80002     39.79    -105.11       1.600000        4.170000
3   80005     39.85    -105.13       1.600000        4.125000
6   80110     39.64    -104.99       1.736842        4.120000
2   80004     39.82    -105.10       1.650000        4.075000
13  80214     39.74    -105.07       1.647059        4.055000
15  80219     39.70    -105.04       1.705882        4.045000
4   80031     39.88    -105.05       1.800000        4.030000
5   80033     39.77    -105.09       1.450000        4.005000
7   80123     39.62    -105.07       1.705882        4.000000
18  80227     39.67    -105.09       1.687500        3.995000
9   80128     39.56    -105.08       1.352941        3.980000
1   80003     39.83    -105.06       1.578947        3.975000
14  80215     39.74    -105.12       1.700000        3.975000
21  80236     39.65    -105.04       1.705882        3.975000
19  80228     39.69    -105.17       1.500000        3.965000
16  80221     39.82    -105.01       1.400000        3.940000
8   80127     39.57    -105.14       1.562500        3.936842
17  80226     39.71    -105.09       1.611111        3.825000
20  80232     39.69    -105.09       1.588235        3.775000