In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress

In [2]:
csv_path = 'Resources/crime_df.csv'
crime_df = pd.read_csv(csv_path)

In [3]:
crime_df.head()

,Unnamed: 0,Offense Type,Offense Category,Reported Date,Zip Code
0,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,80239
1,1,theft-other,larceny,1/29/2018 5:53:00 PM,80239
2,2,theft-items-from-vehicle,theft-from-motor-vehicle,4/26/2016 9:02:00 PM,80210
3,3,theft-other,larceny,1/30/2018 10:29:00 PM,80246
4,4,theft-shoplift,larceny,6/23/2017 4:09:00 PM,80206

In [4]:
crime_df['Offense Category'].unique()

array(['all-other-crimes', 'larceny', 'theft-from-motor-vehicle',
       'drug-alcohol', 'auto-theft', 'white-collar-crime', 'burglary',
       'public-disorder', 'aggravated-assault',
       'other-crimes-against-persons', 'robbery', 'sexual-assault',
       'murder', 'arson'], dtype=object)

In [5]:
violent = ""
crime_df['Violent'] = violent

In [6]:
len(crime_df['Offense Category'])

340932

In [7]:
# for i, row in crime_df.iterrows():
#     if crime_df.loc[(crime_df['Offense Category'] == 'robbery'),:]
#         row['Violent'] = 1
#     elif crime_df.loc[(crime_df['Offense Category'] == 'sexual-assault'),:]
#         row['Violent'] = 1
#     elif crime_df.loc[(crime_df['Offense Category'] == 'aggravated-assault'),:]
#         row['Violent'] = 1
#     elif crime_df.loc[(crime_df['Offense Category'] == 'murder'),:]
#         row['Violent'] = 1
#     elif crime_df.loc[(crime_df['Offense Category'] == 'arson'),:]
#         row['Violent'] = 1
#     else
#         row['Violent'] = 0

In [9]:
crime_df.head()

,Unnamed: 0,Offense Type,Offense Category,Reported Date,Zip Code,Violent
0,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,80239,
1,1,theft-other,larceny,1/29/2018 5:53:00 PM,80239,
2,2,theft-items-from-vehicle,theft-from-motor-vehicle,4/26/2016 9:02:00 PM,80210,
3,3,theft-other,larceny,1/30/2018 10:29:00 PM,80246,
4,4,theft-shoplift,larceny,6/23/2017 4:09:00 PM,80206,